$gap: 10px
$padding: 1rem

body
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: minmax(auto, max-content)
    grid-template-areas: 'header header header' 'side-left side-left side-left' 'main main main' 'footer footer footer'
    place-content: center
    gap: calc($gap * 1.5)
    padding: 0 1rem

    &::before
        content: ''
        width: 40vw
        height: clamp(700px, 120vw, 1100px)
        background-color: rgb(33, 158, 188)
        position: absolute
        top: 0
        left: 0
        transform: translateX(-42%) translateY(-32%) rotateZ(50deg)

.header
    grid-area: header
    height: 10vh

.main-container 
    grid-area: main

.profile-section 
    grid-area: side-left

footer 
    grid-area: footer
    background: $main
    padding: 1rem

@media(max-width: 850px)
    body
        grid-template-columns: 96vw
        grid-template-rows: 0.5fr minmax(max-content, auto)
        grid-template-areas: 'header' 'side-left' 'main' 'footer'
