.main-container
    display: flex
    flex-direction: column
    padding: 1.75rem 2.5rem
    background: transparent

.main-title
    font-size: 2.5rem
    text-align: end
    padding-right: 6vw
    color: $mutard
    text-shadow: 2px 2px 2px $darkBlue

.cards-container
    display: grid
    grid-template-columns: repeat(3, minmax(auto, 28vw))
    grid-auto-rows: minmax(max-content, auto)
    place-items: stretch
    padding: 1rem 4rem
    gap: calc($gap * 3)

.card
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: min-max(fit-content, 50%) 1fr
    grid-template-rows: minmax(fit-content, 200px) 0.5fr fit-content
    grid-template-areas: 'img img' 'title icons' 'desc desc'
    justify-items: center
    padding: 0.25rem
    padding-top: 1rem
    border: 1px solid rgb(240 240 240)
    box-shadow: 3px 3px 15px lightgray
    gap: calc($gap * 0.9)
    background: white

.project-img
    grid-area: img
    width: clamp(200px, 25vw, 350px)
    border: 15px solid white
    box-shadow: 2px 2px 20px lightgray

.project-title
    grid-area: title
    font-size: clamp(20px, 1rem, 35px)
    font-family: $bold
    color: $text-main

.project-links
    grid-area: icons

    .icon
        width: 25px
        height: 25px

.project-desc
    grid-area: desc
    font-size: clamp(15px, 1em, 25px)
    color: $text-main
    line-height: 20px
    font-family: arial
    padding: 1rem
    padding-top: 0

@media(max-width: 850px)
    .cards-container
        padding: 2rem
        grid-template-columns: repeat(2, 38vw)
        grid-template-rows: minmax(350px, fit-content) 0.5fr fit-content

    .project-img
        width: 90%

@media(max-width: 650px)
    .cards-container
        padding: 0
        gap: cal($gap * 1.15)
        grid-template-columns: 95vw

  