*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Quicksand-regular;
  overflow-x: hidden;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Quicksand-bold";
  font-weight: 900;
  src: url("./assets/fonts/quicksand-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Quicksand-regular";
  font-weight: 500;
  src: url(./assets/fonts/quicksand-regular-webfont.woff) format("woff");
}
h1 {
  font-size: 1.5rem;
  line-height: 1.15;
  letter-spacing: 4px;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: minmax(auto, -webkit-max-content);
  -ms-grid-rows: minmax(auto, max-content);
  grid-template-rows: minmax(auto, -webkit-max-content);
  grid-template-rows: minmax(auto, max-content);
      grid-template-areas: "header header header" "side-left side-left side-left" "main main main" "footer footer footer";
  place-content: center;
  gap: 15px;
  padding: 0 1rem;
}
body::before {
  content: "";
  width: 40vw;
  height: clamp(700px, 120vw, 1100px);
  background-color: rgb(33, 158, 188);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-42%) translateY(-32%) rotateZ(50deg);
          transform: translateX(-42%) translateY(-32%) rotateZ(50deg);
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: header;
  height: 10vh;
}

.main-container {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: main;
}

.profile-section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: side-left;
}

footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: footer;
  background: rgb(33, 158, 188);
  padding: 1rem;
}

@media (max-width: 850px) {
  body {
    -ms-grid-columns: 96vw;
    grid-template-columns: 96vw;
    -ms-grid-rows: 0.5fr minmax(-webkit-max-content, auto);
    -ms-grid-rows: 0.5fr minmax(max-content, auto);
    grid-template-rows: 0.5fr minmax(-webkit-max-content, auto);
    grid-template-rows: 0.5fr minmax(max-content, auto);
        grid-template-areas: "header" "side-left" "main" "footer";
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .main-container {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .profile-section {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}
.nav-toggle {
  display: none;
}

@media (max-width: 950px) {
  .nav-toggle {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    display: block;
    grid-area: burger;
    cursor: pointer;
  }
  .nav-toggle .hamburger, .nav-toggle .hamburger::before, .nav-toggle .hamburger::after {
    content: "";
    display: block;
    width: 1.8em;
    height: 4px;
    background: rgb(33, 158, 188);
    -webkit-transition: all ease-in-out 50ms;
    transition: all ease-in-out 50ms;
  }
  .nav-toggle .hamburger::before {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .nav-toggle .hamburger::after {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  .nav-toggle .hamburger.is-open {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    height: 5px;
  }
  .nav-toggle .hamburger.is-open::after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    height: 5px;
  }
  .nav-toggle .hamburger.is-open::before {
    display: none;
  }
}
.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20vw 1fr 80px;
  grid-template-columns: 20vw 1fr 80px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
      grid-template-areas: "logo nav burger";
  place-items: center;
  padding: 0 1rem;
  font-family: Quicksand-bold;
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: rgb(24, 24, 26);
}

@media (max-width: 950px) {
  .nav, .logo-close {
    display: none;
  }
  .nav-toggle {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: burger;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-row-align: start;
        align-self: start;
    margin: 1rem;
  }
  .nav-vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-area: 1/1/span 2/-1;
    gap: 2px;
    padding: 0 1rem;
  }
  .nav-vertical .btn {
    width: 100%;
    height: 40px;
  }
}
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1rem 4rem 2rem;
}

.main-title {
  font-size: 2rem;
  padding-left: 10vw;
  color: rgb(255, 183, 3);
  text-shadow: 2px 2px 2px rgb(2, 48, 71);
}

.cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 28vw) 10px minmax(auto, 28vw) 10px minmax(auto, 28vw);
  grid-template-columns: repeat(3, minmax(auto, 28vw));
  grid-auto-rows: minmax(-webkit-max-content, auto);
  grid-auto-rows: minmax(max-content, auto);
  padding: 3rem 4rem;
  gap: 10px;
  row-gap: 4rem;
}

.card {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-max(-webkit-fit-content, 50%) 20px 1fr;
  -ms-grid-columns: min-max(fit-content, 50%) 20px 1fr;
  grid-template-columns: min-max(-webkit-fit-content, 50%) 1fr;
  grid-template-columns: min-max(fit-content, 50%) 1fr;
  -ms-grid-rows: minmax(-webkit-fit-content, 200px) 20px 0.5fr 20px -webkit-fit-content;
  -ms-grid-rows: minmax(fit-content, 200px) 20px 0.5fr 20px fit-content;
  grid-template-rows: minmax(-webkit-fit-content, 200px) 0.5fr -webkit-fit-content;
  grid-template-rows: minmax(fit-content, 200px) 0.5fr fit-content;
      grid-template-areas: "img img" "title icons" "desc desc";
  justify-items: center;
  padding: 1.5rem;
  border: 1px solid rgb(240, 240, 240);
  -webkit-box-shadow: 3px 3px 15px lightgray;
          box-shadow: 3px 3px 15px lightgray;
  gap: 20px;
  position: relative;
}
.card::before {
  content: "";
  position: absolute;
  top: 72%;
  left: 15%;
  width: 70%;
  height: 1.5px;
  background: rgb(255, 183, 3);
}

.project-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img;
  width: clamp(200px, 25vw, 350px);
  border: 15px solid white;
  -webkit-box-shadow: 2px 2px 20px lightgray;
          box-shadow: 2px 2px 20px lightgray;
}

.project-title {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: title;
  font-size: clamp(20px, 1rem, 35px);
  font-family: quicksand-bold;
  color: rgb(33, 158, 188);
}

.project-links {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: icons;
}
.project-links .icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  opacity: 0.7;
}

.project-desc {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: desc;
  font-size: clamp(15px, 1em, 25px);
  color: rgb(24, 24, 26);
  line-height: 20px;
  font-family: arial;
  padding: 1rem;
  padding-top: 0;
}

@media (max-width: 850px) {
  .cards-container {
    padding: 2rem;
    padding-left: 3rem;
    -ms-grid-columns: 38vw 2rem 38vw;
    grid-template-columns: repeat(2, 38vw);
    -ms-grid-rows: minmax(350px, -webkit-fit-content) 2rem 0.5fr 2rem -webkit-fit-content;
    -ms-grid-rows: minmax(350px, fit-content) 2rem 0.5fr 2rem fit-content;
    grid-template-rows: minmax(350px, -webkit-fit-content) 0.5fr -webkit-fit-content;
    grid-template-rows: minmax(350px, fit-content) 0.5fr fit-content;
    row-gap: 2rem;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
  .cards-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .cards-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .cards-container > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .cards-container > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .cards-container > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .cards-container > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .project-img {
    width: 90%;
  }
  .card {
    width: 35vw;
  }
  .card::before {
    display: none;
  }
  .main-title {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .cards-container {
    padding: 0.5rem 1rem;
    gap: cal(11.5px);
    -ms-grid-columns: 95vw;
    grid-template-columns: 95vw;
  }
  .card {
    width: 80vw;
  }
}
.profile-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 20px auto;
  -ms-grid-columns: max-content 20px auto;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  padding: 2rem 1.5rem;
  gap: 20px;
  font-weight: bolder;
}

.profile-img-name {
  z-index: 4;
}

.name {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 2rem;
  color: rgb(255, 183, 3);
  text-shadow: 2px 2px 2px rgb(2, 48, 71);
}

.profile-pic {
  width: clamp(450px, 25vw, 600px);
  height: auto;
  -webkit-box-shadow: 5px 5px 15px #b3b3b3;
          box-shadow: 5px 5px 15px #b3b3b3;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 2rem 0 2rem 7vw;
  -webkit-transform: translateX(-7vw) translateY(3vh);
          transform: translateX(-7vw) translateY(3vh);
  -webkit-box-shadow: 5px 5px 15px #b3b3b3;
          box-shadow: 5px 5px 15px #b3b3b3;
  z-index: 4;
}
.about h2 {
  font-family: quicksand-bold;
  font-size: 2.2rem;
  text-align: center;
  color: rgb(33, 158, 188);
  -webkit-transform: translateX(-4vw);
          transform: translateX(-4vw);
  text-shadow: 3px 3px 5px rgb(2, 48, 71);
  text-shadow: 2px 2px 2px rgb(2, 48, 71);
}
.about p {
  width: 60vw;
  padding-right: 2rem;
  color: rgb(24, 24, 26);
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 5vw;
  gap: 30px;
}

.icon {
  height: 40px;
  width: 40px;
  opacity: 0.8;
}

@media (max-width: 850px) {
  .profile-section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: minmax(auto, 300px);
    grid-template-rows: minmax(auto, 300px);
    -ms-flex-line-pack: start;
        align-content: start;
    justify-items: center;
    gap: 0;
  }
  .profile-section > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .name {
    -webkit-transform: translateX(8vw);
            transform: translateX(8vw);
    top: 8%;
  }
  .profile-pic {
    -webkit-transform: translateY(2vh);
            transform: translateY(2vh);
  }
  .about {
    -webkit-transform: none;
            transform: none;
  }
  .about {
    gap: 15px;
    padding-top: 3rem;
    padding-right: 1.5rem;
  }
  .about h2 {
    font-size: 1.5rem;
  }
  .about p {
    width: 90%;
    padding: 1rem 0.75rem;
    font-size: 1rem;
  }
  .icons {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icon {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 600px) {
  .about p {
    padding: 0.15rem;
    font-size: 0.75rem;
  }
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75vw;
  margin: 0 auto;
  padding: 1rem 0;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-pic {
  width: 28vw;
}

.contact-details {
  color: white;
  text-shadow: 1px 2px 2px rgb(2, 48, 71);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.contact-details h3 {
  font-size: 1.5rem;
}
.contact-details p, .contact-details address {
  font-size: 1.2rem;
  text-align: center;
}
.contact-details .icons {
  padding: 5rem 4rem 0 4rem;
}

.email-ph img {
  width: 35px;
  margin-right: 10px;
}

@media (max-width: 700px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.btn {
  display: inline-block;
  width: 6vw;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: rgb(24, 24, 26);
  background-color: rgb(255, 183, 3);
}
.btn:hover, .btn:focus {
  background: #60cae3;
}